<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
      <customErrors mode="Off"/>  
    </system.web>
  <connectionStrings>
    <add name="con" connectionString="server=MySQL5.brinkster.com;User Id=murderave;Persist Security Info=True;database=murderave;password=Cube1998;Allow User Variables=True" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>

</configuration>
